# Files of log
*.log
logs/

target/
.mvn/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

### VS Code ###
.vscode/

#OS Files
.DS_Store
Thumbs.db