<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokenpô</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/meu-estilo.css}">
</head>

<body>


    <form action="/play" method="get">

        <button class="btn btn-primary move-btn" type="submit" name="move" value="ROCK">ROCK</button>
        <button class="btn btn-primary move-btn" type="submit" name="move" value="PAPER">PAPER</button>
        <button class="btn btn-primary move-btn" type="submit" name="move" value="SCISSORS" id="btnScissors">SCISSORS</button>
        <p id="resultPLay"></p>


    </form>

    <h2>PlayerScore</h2>
    <p id="playerScore"> </p>

    <h2>MachineScore</h2>
    <p id="machineScore">0</p>
    <p id="result"></p>


    <script src="/js/script.js"></script>
</body>

</html>